@using MudBlazor
@inherits LayoutComponentBase

<div class="page">
    <MudThemeProvider/>
    <MudDialogProvider/>
    <MudSnackbarProvider/>
    <main class="App-main">       
        @Body
    </main>
</div>
