@using MudBlazor;
@using StonksBlazor.Models
@using StonksBlazor.Services
@inject Blazored.LocalStorage.ILocalStorageService localStore

<section style="margin: 20px">
  <div Style="background-color: #87cefa; display: center; padding: 20px; border-radius: 5px">
    <SharesInput ReturnShare="AddShare" />
    <SharesTable Shares="ShareList" />
  </div>
</section>

@code {
  private List<Share>? ShareList;

  private long GetMinTimestamp(Share share) => share.Purchases.Min(x => x.Timestamp);

  private async Task AddPurchase(DateTimeOffset date, string symbol, int amount)
  {
    var foundShare = ShareList?.FirstOrDefault(x => x.Symbol == symbol);
    if (foundShare != null)
    {
      var minTimestamp = GetMinTimestamp(foundShare);
      if (minTimestamp > date.ToUnixTimeSeconds())
      {
        foundShare = foundShare with
          {
            ChartResult = await SharesService.Instance.GetChartResultFromApi(foundShare.Symbol, date.ToUnixTimeSeconds())
          };
      }
      foundShare.Purchases.Add(new Purchase(Guid.NewGuid().ToString(), date.ToUnixTimeSeconds(), amount));
    }
    else
    {
      ShareList?.Add(new Share(symbol, 
        new List<Purchase> { new Purchase(Guid.NewGuid().ToString(), date.ToUnixTimeSeconds(), amount) },
        await SharesService.Instance.GetChartResultFromApi(symbol, date.ToUnixTimeSeconds())));
    }
    if (ShareList != null)
    {
      await localStore.SetItemAsync<List<Share>>("stonksblazor", ShareList);
    }

  }

  private async void AddShare(DateTimeOffset date, string symbol, int amount, double price)
  {
    var res = await YahooV8Service.Instance.Query2FinanceYahooV8QuoteSummary(symbol);
    if (res.QuoteSummary.Result.Any())
    {
      await AddPurchase(date, symbol, amount);
    }
  }

  protected override async Task OnInitializedAsync()
  {
    var shares = await localStore.GetItemAsync<List<Share>>("stonksblazor") ?? new List<Share>();

    var shareTasks = shares.Select(x =>
     Task.Run(() => SharesService.Instance.GetChartResultFromApi(x.Symbol, GetMinTimestamp(x))));
    Task.WaitAll(shareTasks.ToArray());
    ShareList = shareTasks.Select((x, i) => shares[i] with { ChartResult = x.Result }).ToList() 
        ?? new List<Share>();
  }
}
