@using MudBlazor;

<section style="margin: 20px">
    <div Style="background-color: #87cefa; display: center; padding: 20px; border-radius: 5px" >        
        <SharesInput />        
        <SharesTable />        
    </div>
</section>

@code {
    
}
